body {
    background-color: #295F98;
    
  }
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .home-bg{
    background-color: #d9d9d9;
    height: 100;
   

  }
  .t-blue{
    color: #295F98;
  }
 
  .dot {
    height: 15px;
    width: 15px;
    background-color: #22FA05;
    border-radius: 50%;
    display: inline-block;
    margin-left: 90px;
    
  }
  .home-bg-2{
    display: flex;
    justify-content: center;
  
  }
