body {
    background-color: #295F98;
    
  }
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .home-bg{
    background-color: #d9d9d9;
    height: 100;

  }
