body {
  background-color: #295f98;
  color: #fff;
}
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.landingPage-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landingPage-img img {
  height: 300px;
  width: 330px;
  display: flex;
  align-self: center;
}
.landingPage-img h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingPage-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lpcustom-btn {
  width: 25rem;
  height: 3.5rem;
  font-family: 'Poppins', sans-serif;
  margin: 0.5rem 0 0.5rem 0;
  color: #295f98;
}
.register-container {
  height: 38rem;
  width: 25rem;
  background: #d9d9d9;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container h1 {
  display: flex;
  justify-content: center;
  color: #295f98;
  margin-top: 2rem;
}
.register-container small {
  display: flex;
  justify-content: center;
  color: #000;
  margin-bottom: 2rem;
}
.regCustom-btn {
  background: #295f98;
  width: 21rem;
  height: 2.5rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-top: 1rem;
}
.register-container a {
  text-decoration: none;
}
.reg-smallanc {
  margin-top: 1rem;
}
#regBody {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.regiconWrapper {
  position: relative;
}
.fa-solid {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}
.reg-passlink {
  display: flex;
  justify-content: flex-end;
}
.form-control::placeholder {
  color: #888888; /* Change placeholder text color */
  font-weight: 500; /* Change font weight */
  font-family: 'Poppins', sans-serif;
  opacity: 0.8; /* Make placeholder fully opaque */
}
